# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Poetry
.poetry/
poetry.lock
.env
.venv/
notebooks/submission.csv
input

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store